<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <select id="getUserById" resultType="com.pojo.User">
        SELECT * FROM user WHERE id=#{id}
    </select>
    <insert id="insertUser" parameterType="com.pojo.User">
        INSERT INTO user(id,openid,name,gender,city,tel,age,collection) VALUES (#{id},#{openId},#{name},#{gender},#{city},#{tel},#{age},#{collection})
    </insert>

    <select id="getUserByOpenId" resultType="com.pojo.User">
        SELECT * FROM user WHERE Openid=#{openId}
    </select>

    <select id="getTotalNum" resultType="Integer">
        select count(id) from user
    </select>
    <select id="insertAgeAndTelById" parameterType="com.pojo.User">
        UPDATE user SET age = #{age}, tel = #{tel} where id = #{id}
    </select>
</mapper>

